certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
coverage==7.6.12
exceptiongroup==1.2.2
fuzzywuzzy==0.18.0
idna==3.10
iniconfig==2.0.0
Levenshtein==0.27.1
narwhals==1.30.0
numpy==2.0.2
packaging==24.2
pandas==2.2.3
plotly==6.0.0
pluggy==1.5.0
pprintpp==0.4.0
px==0.2.2
pycountry==24.6.1
pycountry-convert==0.7.2
pytest==8.3.5
pytest-cov==6.0.0
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-Levenshtein==0.27.1
pytz==2025.1
RapidFuzz==3.12.2
repoze.lru==0.7
requests==2.32.3
six==1.17.0
tomli==2.2.1
tzdata==2025.1
urllib3==2.3.0
